<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li [routerLink]="['/recipes']" routerLinkActive="active">
              <a>Recipes</a>
        </li>
        <li [routerLink]="['/shopping']" routerLinkActive="active"><a>Shopping</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" appDropdown>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">Manage Data <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a>Save Data</a></li>
            <li><a>Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

